<%-include('layout/layout.ejs')%>
    <form action="/signup" method="post">
        <label>Email</label>
        <input type="email" name="username" id="username">
        <label>Password</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Signup">
    </form>
    <%if(signUpMessage){%>
      <div><%=signUpMessage%></div>
   <%}%>
</body>
</html>