<%-include('layout/layout.ejs')%>
    <form action="/signin" method="post">
        <input type="email" name="username" id="username">
        <input type="password" name="password" id="password">
        <input type="submit" value="login">
    </form>
    <%if(signInMessage){%>
<div><%=signInMessage %></div>
        <% } %>
</body>
</html>